ACCESS_CODE=TREX_T0NY
ADMIN_USERNAME=admin
ADMIN_PASSWORD=monarch_secure
SESSION_SECRET=a_very_long_random_string_here
BTC_WALLET=1YourBitcoinAddressHere
ETH_WALLET=0xYourEthereumAddressHere
USDT_WALLET=TYourTronAddressHere
USDC_WALLET=0xYourEthereumAddressHere (same as ETH)
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_KEY
TRONGRID_API_KEY=YOUR_TRONGRID_KEY
BLOCKCYPHER_API_KEY=YOUR_BLOCKCYPHER_KEY


-- this is just temp when u go on railway it will show it all
